<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="{{ site.baseurl }}/javascripts/bootstrap.min.js"></script> -->
<!-- Home Twitter Hover -->
<!-- <script src="{{ site.baseurl }}/javascripts/twitterhover.js"></script> -->
<!-- Search with lunr.js -->
<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>