<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/javascripts/bootstrap.min.js"></script>
<!-- Custom jQuery -->
	<script>
		$( document ).ready(function() {
		 
		    $( ".hi" ).delay( 750 ).fadeTo( 750, 1 );
		    $( ".mynameis" ).delay( 2000 ).fadeTo( 750, 1 );
		    $( ".hometext" ).delay( 3500 ).fadeTo( 750, 1 );
		 
		});
	</script>