---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$body-bg:					#f1f1f1;
$content-bg:				#ffffff;
// $home-width: 				775px;
$page-width:				900px;
$post-width:				$page-width;
$micropost-width:			$post-width * 0.78;
$brand-primary:     		#eb8313;
$link-hover-color:			#eb8313;
$font-family-sans-serif:  	"Roboto", sans-serif;
$font-family-serif:       	Georgia, "Times New Roman", Times, serif !default;
$panel-opacity:				0.6;
$hr-border: 				#bdbfbf;
$font-size-base:          	18px;
$font-size-small:         	ceil(($font-size-base * 0.8));
// $panel-bg:					#ffffff;
// $subpanel-bg:				#ffffff;
$border-radius-base:       	7px;
$shadow-color:				#d6d8db;
$blog-top-padding:			95px;
$blog-post-padding:			$blog-top-padding;
$blog-spacer:				80px;
$blog-h2-size:				24px;
$blog-column-divider:		24px;
$blog-right-padding:		72px;
$screen-title-sm-and-above:	54px;
$headshot-thumb-size:		48px;
$code-color:				#009999;
$code-bg:					#f1f1f1;

// Import partials from `bootstrap-sass`
@import "bootstrap-custom";

// Import custom styles
@import "style";
