---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";

// Variables
$body-bg:					#f1f1f1;
$content-bg:				#ffffff;
// $home-width: 				775px;
$page-width:				900px;
$post-width:				$page-width;
$micropost-width:			$post-width * 0.78;
$brand-primary:     		#eb8313;
$link-hover-color:			#eb8313;
$font-family-sans-serif:  	"Roboto", sans-serif;
$font-family-serif:       	Georgia, "Times New Roman", Times, serif !default;
$panel-opacity:				0.6;
$hr-border: 				#bdbfbf;
$font-size-base:          	18px;
$font-size-small:         	ceil(($font-size-base * 0.8));
// $panel-bg:					#ffffff;
// $subpanel-bg:				#ffffff;
$border-radius-base:       	7px;
$shadow-color:				#d6d8db;
$blog-top-padding:			95px;
$blog-post-padding:			$blog-top-padding;
$blog-spacer:				80px;
$blog-h2-size:				24px;
$blog-column-divider:		24px;
$blog-right-padding:		72px;
$screen-title-sm-and-above:	54px;
$headshot-thumb-size:		48px;
$code-color:				#009999;
$code-bg:					#f1f1f1;

// Import partials from `bootstrap-sass`
@import "bootstrap-custom";

// Import custom styles
@import "style";
