---
layout: blog
title: Blog
---

<div class="row blog-view-header">

  <div class="col-sm-4 hidden blog-title-push">
    <h1 class="invisible">Blog</h1>
  </div>

  <div class="col-sm-8">

    <p class="blog-view-header-text h1-mynameis text-lowercase">
      My name is <a href="{{ site.url }}">Dylan On</a>.<br>
      <a href="{{ site.baseurl }}{% link blog/index.html %}">This</a> is my blog.
    </p>

  </div>

</div>

<div class="row">

  <div class="col-sm-8 col-sm-push-4">

    <ul id="search-results" class="blog-list" style="display: none;"></ul>

    <ul class="blog-list">

      {% for post in paginator.posts %}
        <li>
          {% if post.tags contains 'fullpost' %}
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            {{ post.excerpt }}
            <small class="timestamp"><a href="{{ post.url }}">Read more &rarr;</a></small>
            <small class="datestamp">{{ post.date | date: "%B %e, %Y" }}</small>
          {% else %}
            {{ post.content }}
            <small class="timestamp"><a href="{{ post.url }}">{{ post.date | date: "%B %e, %Y at %l:%M%P" }}</a></small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination text-right text-lowercase">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    {% if paginator.previous_page or paginator.next_page %}
    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
    </div>
    
  </div>

  <hr class="sm-hide">

  <div class="blog-sidebar col-sm-4 col-sm-pull-8 text-lowercase">

		<form action="/blog" method="get">
			<input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
		</form>
		
    <p class="h2 no-top-margin">About</p>
    <p>
      Arts admin by day, web designer by night.<br>I’m passionate about performance, tech, and dogs.
    </p>
	<p><a href="http://feeds.feedburner.com/dylanon/blog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/dylanon/blog" rel="alternate" type="application/rss+xml">Subscribe in a reader</a></p>

    <p class="h2">Highlights</p>
    <p>
      <a href="{{ site.baseurl }}{% link spiderwebshow-thought-residency.md %}">SpiderWebShow Thought Residency</a>  
    </p>
    
    <p class="h2">Connect</p>
    <p>
      <a href="https://micro.blog/dylanon">Micro.blog</a>
    </p>
    <p>
      <a href="https://twitter.com/dylanon/">Twitter</a>
    </p>
    <p>
      <a href="https://facebook.com/dylanon/">Facebook</a>
    </p>
     <p>
      <a href="https://instagram.com/dylanon/">Instagram</a>
    </p>
     <p>
      <a href="mailto:{{ site.email }}">E-mail</a>
    </p>

    
    <!-- <p class="h2">Archives</p> -->

  </div>

</div>