---
layout: default
---

<div class="post-view container">

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      {% if page.categories contains 'longform' %}
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      {% else %}
        <h1 class="post-title" itemprop="name headline">{{ page.date | date: "%B %e at %l:%M%P" }}</h1>
      {% endif %}

      <div class="row">
        <div class="backtoblog col-sm-4 col-sm-push-8 text-lowercase">
          <p>
            <img class="dylan-thumb-placeholder" src="{{ site.baseurl }}/assets/dylan_on_headshot_thumb.jpg" >
            <a href="{{ site.baseurl }}{% link blog/index.html %}">&larr;&nbsp;Back to Blog</a>
          </p>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %e, %Y" }}</time>{% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="author-name text-accent">{{ page.author }}</span></span>{% endif %}
            <img class="dylan-thumb" src="{{ site.baseurl }}/assets/dylan_on_headshot_thumb.jpg" >
          </p>

        </div>
      </div>
    </header>

    <div class="post-content clearboth" itemprop="articleBody">
      {{ content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </article>

</div>
