---
layout: default
---

<div class="{% if page.tags contains 'fullpost' %}post-view{% else %}micropost-view{% endif %} container">

  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      {% if page.tags contains 'fullpost' %}
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      {% else %}
        <h1 class="post-title" itemprop="name headline">{{ page.date | date: "%B %e at %l:%M%P" }}</h1>
      {% endif %}

      <div class="row">
        <div class="backtoblog col-sm-4 col-sm-push-8 text-lowercase">
          <p>
            <img class="dylan-thumb-placeholder" src="{{ site.baseurl }}/assets/dylan_on_headshot_thumb.jpg" >
            <a href="{{ site.baseurl }}{% link blog/index.html %}">&larr;&nbsp;Back to Blog</a>
          </p>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
          <p class="post-meta"><a href="{{ site.url }}{{ page.url }}" class="u-url"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">{{ page.date | date: "%B %e, %Y" }}</time></a>{% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="author-name p-author h-card text-accent">{{ page.author }}</span></span>{% endif %}
            <img class="dylan-thumb" src="{{ site.baseurl }}/assets/dylan_on_headshot_thumb.jpg" >
          </p>

        </div>
      </div>
    </header>

    <div class="post-content e-content clearboth{% unless page.tags contains 'fullpost' %} p-name{% endunless %}" itemprop="articleBody">
      {{ content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </article>

</div>
